body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3CBD1C;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header input {
  flex-grow: 1;
  margin-left: 1rem;
  background-color: #fff;
  height: 1.5rem;
  max-width: 400px;
}

.dark header {
  background-color: #333;
  border-bottom-color: #444;
}

body.dark aside {
  background-color: #333;
  border-right-color: #444;
}

body.dark nav a {
  color: #fff;
}

body.dark nav a:hover {
  background-color: #1DA15D;
  color: #fff;
}

body.dark .app {
  border-color: #444;
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
  transition: margin-left 0.3s;
}

aside {
  background-color: #F4F4F4;
  height: calc(100% - 64px);
  position: fixed;
  top: 64px;
  left: -250px;
  width: 250px;
  transition: left 0.3s;
  z-index: 999;
}

aside.open {
  left: 0;
}

aside.open ~ main .app-grid {
  margin-left: 250px;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  border-radius: 15px;
}

nav a:hover {
  background-color: #1DA15D;
  color: #fff;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

.app {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.app img {
  width: 64px;
  height: 64px;
  margin-bottom: 0.5rem;
}

.app:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-logo {
  display: block;
  width: 100px;
  margin: 0 auto 1rem;
}

main {
  padding: 0;
  padding-top: 64px;
}
